<div class="container">
    <div class="row">
        <div class="col-3" color="primary" class="sidebar-container">
            <app-search-sidebar (selectedChanged)="selected=$event" [items]="items"></app-search-sidebar>
        </div>
        <div class="col log-section">
            <md-tab-group>
                <md-tab label="Log" class="log-section">
                    {{selected}}
                    <div style="display: flex" class="control-bar">
                        <button md-raised-button color="primary" (click)="tree.expandAll()">Expand All</button>
                        <button md-raised-button color="primary" (click)="tree.collapseAll()">Collapse All</button>
                        <md-slide-toggle class="example-margin" color="primary" [(ngModel)]="useShortNames">
                            Short Names
                        </md-slide-toggle>
                    </div>
                    <div style="margin-top: 1rem">
                        <app-loggers-tree #tree [loggers]="loggers" [useShortNames]="useShortNames"></app-loggers-tree>
                    </div>
                </md-tab>
            </md-tab-group>
        </div>
    </div>
</div>