/*.container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.row {
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.row > div {
    padding: 10px;
}*/

.row {
    width: 100%;
    margin: 0;
}

.row>.col* {
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    min-height: calc(100% - 64px);
    max-height: calc(100% - 64px);
}

app-search-sidebar,
.log-section {
    overflow-y: auto;
    display: block;
    height: 100%;
}

.sidebar-container {
    min-width: 300px;
    /*max-width: 300px;*/
}