<div class="container">
    <div class="row">
        <div class="col-3" color="primary" class="sidebar-container">
            <app-search-sidebar (selectedChanged)="selected=$event" [items]="items"></app-search-sidebar>
        </div>
        <div class="col log-section">
            <md-tab-group>
                <md-tab label="Log" class="log-section">
                    <div style="margin-top: 1rem">
                        <app-loggers-tree [loggers]="loggers"></app-loggers-tree>
                    </div>
                </md-tab>
            </md-tab-group>
        </div>
    </div>
</div>