.sidenav {
    width: 320px;
}

.close-button {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

md-sidenav-container {
    height: 100%;
    width: 100%;
    background: white;
}